name: build-nix
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: nixos/nix:latest
    steps:
      - name: test
        run: |
          set -x

          git clone https://github.com/${{ github.repository }}.git
          cd $(basename ${{ github.repository }})

          echo "github.event_name is ${{ github.event_name }}"

          # fetch the current PR/branch
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "Fetching PR branch"
            git fetch origin pull/${{ github.event.pull_request.number }}/head:pr-${{ github.event.pull_request.number }}
            git checkout pr-${{ github.event.pull_request.number }}
          else
            echo "Fetching current branch"
            git checkout ${{ github.ref_name }}
          fi

          set -x
          nix-shell --run "
            dune build @install &&
            dune runtest
          "
